<h3>Atualizar vaga</h3>
<form class="form-cadastro">
    <input type="text" name="id" id="id" [(ngModel)] = "vaga.id" placeholder="id"  hidden>
    
    <input type="text" name="Nome" id="nome" [(ngModel)] = "vaga.nome" placeholder="Nome da vaga">

    <input type="text" name="foto" id="foto" [(ngModel)] = "vaga.foto" placeholder="Avatar">

    <input type="text" name="descricao" id="descricao" [(ngModel)] = "vaga.descricao" placeholder="Descrição">

    <input type="text" name="salario" id="salario" [(ngModel)] = "vaga.salario" placeholder="salario">

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button" (click)="atualizar()">
            Atualizar
        </button>
    </div>
    
</form>
<!-- 
<form class="form-cadastro">

    <input type="text" name="id" id="id" placeholder="id" [(ngModel)]="vaga.id" hidden/>
    <input type="text" name="Nome" id="nome" placeholder="Nome da vaga" [(ngModel)]="vaga.nome" />
    <input type="text" name="foto" id="foto" placeholder="Avatar" [(ngModel)]="vaga.foto" />
    <input type="text" name="descricao" id="descricao" placeholder="Descrição" [(ngModel)]="vaga.descricao" />
    <input type="text" name="salario" id="salario" placeholder="salario" [(ngModel)]="vaga.salario" />

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button"  (click)="atualizar()"> Atualizar </button> 
    </div>
</form> -->
